#body{
	position:relative;
	overflow:hidden;
	width: 100%;
	height: 100%;
	color: black;
}

#label{
    position:relative;
    overflow:hidden;
    border-bottom: 2px solid #3366CC;
    width: 100%;
    height: 40px;
    background: #E6E6E6;
}

#title{
    position:relative;
    overflow:hidden;
    border-bottom: 2px solid black;
    width: 100%;
    height: 100px;
    background: black;
}

#titleName{
    position: absolute;
    top: 10px;
    font-size: 40px;
    color: white;
    left: 190px;
}
#titleIcon{
    height: 100px;
    width: 100px;
    position: absolute;
    left: -110px;
    top: -45px;
}

.button{
    position: absolute; 
}
#log{
    height:40px;
	width:100px;
    color: white;
    background-color: black;
    border-color: white;
    top:55px;
    left:85%;
    font-size: 25px;
    border-style: solid; 
}

#changePassword{
    border: hidden;
    height:20px;
	width:100px;
    color: white;
    background-color: black;
    top:30px;
    left: 85%;
    font-size: 9px;
    border: 1px solid white; 
}

#forgetPassword{
    border: hidden;
    height:20px;
	width:100px;
    color: white;
    background-color: black;
    top:30px;
    left: 85%;
    font-size: 9px;
    border: 1px solid white; 
}

#logOut{
    height:40px;
	width:100px;
    color: white;
    background-color: black;
    border-color: white;
    top:55px;
    left:85%;
    font-size: 25px;
    border-style: solid; 
}

#log:hover{
    color: black;
    background-color: white;
}

.labelButton:hover{
    color: white;
    background-color: #3366CC;
}

.labelButton{
    position: absolute; 
    color: #3366CC;
    background-color: #E6E6E6;
    border-color: #3366CC;
    font-weight: 900;
    border-style:hidden;
    border-bottom: 2px solid #3366CC;
}
#contact{
    height:30px;
	width:95px;
    top:5px;
    left:25%;
    font-size: 20px;
}

#donate{
    height:30px;
	width:95px;
    top:5px;
    left:10%;
    font-size: 20px;
}

#viewNote{
    height:30px;
	width:120px;
    top:5px;
    left:8%;
    font-size: 20px;
}

#clockIn{
    height:30px;
	width:95px;
    top:5px;
    left:25%;
    font-size: 20px;
}

#ModifykHours{
    height:30px;
	width:180px;
    top:5px;
    left:5%;
    font-size: 12px;
}#addevent{
    height:30px;
	width:110px;
    top:5px;
    left:25%;
    font-size: 12px;
}#modifyuser{
    height:30px;
	width:110px;
    top:5px;
    left:40%;
    font-size: 12px;
}#modifyItems{
    height:30px;
	width:110px;
    top:5px;
    left:55%;
    font-size: 12px;
}#seeMessage{
    height:30px;
	width:110px;
    top:5px;
    left:70%;
    font-size: 12px;
}


